*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main_color:white;
    --mainbgcolor:black;
}
body
{
    padding: 0 10%;
    color:var(--main_color);
    background-color: var(--mainbgcolor);
}
html{
    font-size: 100%
}
h2{
    color:orange;
    background-color: black;

}
#parag_id{
    font-size: small !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-style: italic;
   
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize !important;
    text-shadow: 0.5px -0.6px 5px black;

    letter-spacing: 2px;
    word-spacing: 1px !important;
    line-height: 1.3px;

    column-count: 3px;
    column-gap: 25px !important;
    column-rule: 1px solid orange !important;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    -webkit-line-clamp: 4;
}
.div_class{
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
/* veya sadece margin:10px de yazsanız yeterli*/

    padding-top: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* veya sadece padding:10px; yazsanı yeterli*/

    box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.7);
    border-top-left-radius: 5%;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 1rem !important;
    border-bottom-left-radius: 10px;
}
.color_class{
color:white;
background-color: blue;
box-shadow: 10px 0.6px 10px 5px rgba(0, 0, 0, .9) ;
}
.div_common{
    background-color: darkred;
    color:aqua;
    box-shadow: 15px 1px 15px 8px rgba(0, 0, 0, .9);
    
}
.a_link{
    color: red;
    background-color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    text-shadow: 0.7px -0.6px 5px black;
    padding: 0.1rem;
    margin: 2rem;
    display: block;
    display: inline-block;
    display: inline;
    /* visibility : hidden*/
    
}
.a_link:hover{
    color: black;
    background-color: red;
    cursor: pointer;
    display: none;
    

}
.ul_id{
    list-style-type: armenian;
    margin-left: 20px;
    padding-left: 0;
    display: inline-block;
}
.ul_id li{
    color: blue;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 25%;
    display: inline-block;
    background-color: red;
    /* margin-right: 50%; */

}
.ol_id{
    margin-left: 20px;
    padding-left: 0;
    display: inline-block;

}
.ol_id li{
    color: red;
    font-size: 16px;
    box-shadow: 5px 0.6px 1px 1px blue;


}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid red;
   
}
table th{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}
table td{
    background-color: red;
    color: white;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid black;

}
table td:hover{
    background-color: white;
    color:red
}
.conterner{
    border: 1px solid red;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.clearfix::after{
 content: ""; 
 display: table;
 clear: both;
}
.clippath{
    width: 200px;
    background-color: aqua;
    clip-path: circle(50% at 50% 50%);
   
}
/* p{
    color: red;
    background-color: blue;
} */
/* div p{
    background-color: yellow;
    color: red;
} */
/* p::before{
    content: "frontent";
}
p::after{
    content: "bo";
}
p:hover{
    color: blue;
    background-color: green;
}
p:nth-child(even){
    color: green;
    background-color: aqua;
} */
 /* div~p{
    background-color: green;
 } */
div+p{
    background-color: green;
}
/* flexbox */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;

}
.item{
    background-color: red;
    color: black;
    padding: 10px;
    margin: 5px;
    flex: 1;
    text-align: center;
}
.my_responsive{
    border: 1px solid yellow;
    display: inline-block;
    height: 100px;
    width: 26%;
    background-color: blue;

}
/* 768 dan 909 kadar bu şekil göster  */
@media screen and (min-width: 768px){
    .my_responsive{
        background-color: yellow;
        color: black;
        margin-bottom: 10px;
        width: 49%;
    }
    
}
/* 910 dan 11999 e kadar bu şekilde göster   */
@media screen and (min-width: 910px){
    .my_responsive{
    background-color: red;
    color: black;
    margin-bottom: 10px;
    width: 32%;
    }
}
/* 1200 den üstü ne bu şekilde göster  */
@media screen and (min-width: 1200px){
    .my_responsive{
    background-color: blue;
    color: black;
    margin-bottom: 10px;
    width: 24%;
    }
}
/*transaition*/
.transaciton{
    background-color: red;
    color:white;
    padding: 1rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    display: block;
    margin:0 auto;
    transition: all 1.5s;

}
.transaciton:hover{
    background-color: white;
    color : red;
}
/*transform*/
button[type="btn"]{
    background-color: blue;
    color:white;
    padding: 1rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    display: block;
    margin:0 auto;
    transition: all 1.5s;
}
button[type="btn"]:hover{
    transform: rotate(180deg);
    background-color: white;
    color : red;

}
.header_class{
    background-image: url('../images/res2.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* object-fit: cover; */
    height: 90vh;
}
.my_grandient{
    background: linear-gradient(to left, red , blue);
    width: 90%;
    height: 200px;
    transition: all 1.5s;

}
.my_grandient:hover{
    background: linear-gradient(to left, yellow , red);
    transform: rotate(180deg);


}
#form_submit{
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5%;
}
.form_data >label{
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    opacity: 0.8;
}
.form_data>input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5%;
}
input[type="text"]{
    background-color: yellowgreen;
}
input[type="email"]{
    background-color: rgb(101, 201, 119);
}
input[type="password"]{
    background-color: rgb(43, 104, 147);
}
input[type="reset"],button[type="submit"]{
    background: linear-gradient(to left, red,green);
    padding: 0.4rem;
    transition: all 1.8s;
    
}
input[type="reset"]:hover,button[type="submit"]:hover{
    background: linear-gradient(to left, green,red);
    padding: 0.4rem;
  
    text-transform: uppercase;
    color: white;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    margin:0 auto;
    padding: 1rem;
    transform: rotate(360deg);
}
